:root{
    --dark-blue: #142951;
    --blue: #244A80;
    --dark-green: #37986b;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-size: 1.6rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--dark-blue);
    border-radius: 0.7rem;
}

h1{
    font-size: 2.4rem;
}

.header-links{
    display: flex;
    gap: 5rem;
}

.header-links a{
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

p {
    font-size: 1.8rem;
}

#first-part{
    background-color: var(--dark-green);
    padding: 1rem 40rem 5rem; /*top, right-left, bottom*/
}

section{
    padding: 1rem 0rem;
}

.image-and-text{
    display: flex;
    gap: 5rem;
    align-items: center;
}

.big-title{
    font-size: 4.8rem;
    font-weight: bold;
}

#main-img{
    max-height: 70%;
    max-width: 70%;
    border-radius: 0.7rem;
}

.title-description-container{
    display: flex;
    flex-direction: column;
}
