:root{
    --dark-blue: #142951;
    --blue: #244A80;
    --dark-green: #37986b;
    --green: #3dcc89;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-size: 1.6rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--dark-blue);
    border-radius: 0.7rem;
}

h1{
    font-size: 2.4rem;
}

.header-links{
    display: flex;
    gap: 5rem;
}

.header-links a{
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

p {
    font-size: 1.8rem;
}

#first-part{
    background-color: var(--dark-green);
    padding: 1rem 40rem 5rem; /*top, right-left, bottom*/
}

section{
    padding: 1rem 0rem;
}

.image-and-text{
    display: flex;
    gap: 5rem;
    align-items: center;
}

.big-title{
    font-size: 4.8rem;
    font-weight: bold;
}

#main-img{
    max-height: 70%;
    max-width: 70%;
    border-radius: 0.7rem;
}

.title-description-container{
    display: flex;
    flex-direction: column;
}

#information{
    padding: 2rem 0rem;
}

#main-box-text{
    font-size: 3.6rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

.information-images{
    padding: 1rem 0rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.box-image{
    background-color: var(--dark-blue);
    width: 17rem;
    height: 17rem;
    border-radius: 0.7rem;
}

.box-text{
    font-size: 1.6rem;
    color: black;
    width: 17rem;
}

.text-author{
    padding: 2rem 40rem 1rem;
    background-color: var(--dark-green);
}

.quote-text{
    margin: 0;
    font-size: 3.6rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.quote-author{
    font-size: 2.4rem;
    font-weight: bold;
    text-align: right;
}

h4{
    font-size: 2.4rem;
    color: white;
}

.button-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem 2rem;
}

.button-box{
    padding: 1rem 2rem 1rem;
    border-radius: 0.7rem;
    background-color: var(--dark-green);
    width: 65rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button{
    cursor:pointer;
    padding-inline: 2rem;
    padding-block: 7px;
    font-size: 1.6rem;
    border-radius: 0.7rem;
    font-weight: bold;
    background-color: var(--dark-green);
    color: white;
    border: 2px solid white;
}

.button:hover{
    background-color: white;
    color: var(--dark-green);
}

footer{
    background-color: var(--dark-green);
    text-align: center;
    padding: 1rem 2rem;
}